body.login-content:before {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #00bcd4;
    content: "";
    z-index: 0;
}

.lc-login {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0,0,0,0.27);
    border-radius: 2px;
    width: 500px;
    display: inline-block;
    margin-top: 42px;
    vertical-align: middle;
    position: relative;
}