<div ng-controller="listadoPacientesCtrl">
    
   <div class="fg-line">
        <div class="pull-right p-relative p-r-25">
            <button ng-click="nuevo()" class="btn btn-default waves-effect"><i class="zmdi zmdi-plus"></i></button>
        </div>
    </div>
    
    <div class="chat-search">
        <div class="fg-line">
            <input type="text" ng-model="busquedaPaciente" class="form-control" placeholder="Buscar pacientes">
        </div>
    </div>
    
    <div class="listview" ng-repeat="item in pacientes | filter:busquedaPaciente">
        <a class="lv-item" href="">
            <div class="media">
                <div class="pull-left p-relative">
                    <img class="lv-img-sm" ng-src="{{item.pictureUrl}}" alt="">
                    <i class="chat-status-busy"></i>
                </div>
                <div class="media-body">
                    <div class="lv-title">{{item.nombre}}</div>
                    <!--
                    <small class="lv-small">Available</small>
                    -->
                    
                <div class="btn-group btn-group-xs" role="group">
                    <button type="button" ng-click="irDiagnosticos(item)" class="btn btn-default waves-effect">Diagnosticar</button>
                    <button type="button" ng-click="navegarAdjuntos(item)" class="btn btn-default waves-effect">Adjuntos</button>
                    <button type="button" ng-click="enviarCorreo(item)" class="btn btn-primary waves-effect">enviar correo</button>
                    <button type="button" ng-click="editar(item)" class="btn btn-info waves-effect">Editar</button>
                    <button type="button" ng-click="eliminar(item, $index)" class="btn btn-danger waves-effect">Eliminar</button>
                </div>
                    
                </div>
            </div>
        </a>
    </div>
</div>


