<ul class="header-inner">
    
    <li id="menu-trigger" data-intro="{{ 'TUTORIAL_DIAGNISTIC_PARAMETER' | translate }}" data-step='2' data-target="mainmenu" data-toggle-sidebar data-model-left="mactrl.sidebarToggle.left" data-ng-class="{ 'open': mactrl.sidebarToggle.left === true }">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>

    <li class="logo hidden-xs">
        <a data-ui-sref="pages.wall" data-ng-click="mactrl.sidebarStat($event)"> dentiline {{ layoutSS }}</a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">
            
            <li id="toggle-width">
                <div class="toggle-switch">
                    <input id="tw-switch" type="checkbox" hidden="hidden" data-change-layout="mactrl.layoutType">
                    <label for="tw-switch" class="ts-helper"></label>
                </div>
            </li>
            
            <li class="dropdown" dropdown>
                <a dropdown-toggle class="tm-notification" href=""><i id="notificationNumber" class="tmn-counts">0</i></a>
                <div class="dropdown-menu dropdown-menu-lg stop-propagate pull-right">
                    <div class="listview" id="notifications">
                        <div class="lv-header">
                            {{ 'NOTIFICATIONS' | translate }}

                            <ul class="actions">
                                <li>
                                    <a href="" data-ng-click="hctrl.clearNotification($event)">
                                        <i class="zmdi zmdi-check-all"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="lv-body">
                            <a class="lv-item" ng-href="" ng-repeat="w in hctrl.messageResult.list">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="lv-img-sm" ng-src="{{ w.img }}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">{{ w.user }}</div>
                                        <small class="lv-small">{{ w.text }}</small>
                                        <small class="lv-small">{{ w.numeroContacto }}</small>
                                        
                                        <div class="btn-group btn-group-xs" role="group">
                                            <button type="button" ng-click="hctrl.adicionarComoPaciente(w)" class="btn btn-info waves-effect">{{ 'ADD_AS_A_PATIENT' | translate }}</button>
                                            <button type="button" ng-click="hctrl.irCitas()" class="btn btn-default waves-effect">{{ 'GO_TO_APPOINTMENTS' | translate }}</button>
                                        </div>
                                        
                                    </div>
                                </div>
                            </a>
                        </div>
                        
                        <div class="clearfix"></div>

                        <a class="lv-footer" ng-click="hctrl.irCitas()">{{ 'GO_TO_APPOINTMENTS' | translate }}</a>
                    </div>

                </div>
            </li>
            
            <li class="dropdown" dropdown>
                <a dropdown-toggle class="tm-settings" href=""></a>
                <ul class="dropdown-menu dm-icon pull-right">
                    <li class="hidden-xs">
                        <a data-ng-click="hctrl.fullScreen()" href=""><i class="zmdi zmdi-fullscreen"></i> {{ 'FULL_SCREEN' | translate }}</a>
                    </li>
                </ul>
            </li>
            
            <li id="menuRight" class="hidden-xs" data-step='1' data-intro="{{ 'CREATE_PATIENT_HELP' | translate }}" data-target="chat" data-toggle-sidebar data-model-right="mactrl.sidebarToggle.right" data-ng-class="{ 'open': mactrl.sidebarToggle.right === true }">
                <a class="tm-chat" href=""></a>
            </li>
            
        </ul>
    </li>
    
     <li class="pull-right m-r-5 p-t-5">
        <ul class="top-menu">
             <li class="dropdown" dropdown>
                <a  dropdown-toggle href="" style="color:white">{{lang}}</a>
                <ul class="dropdown-menu dm-icon pull-right">
                    <li class="hidden-xs">
                        <a data-ng-click="changeLanguage('es')" href=""><i class="zmdi zmdi-fullscreen"></i> Español</a>
                        <a data-ng-click="changeLanguage('en')" href=""><i class="zmdi zmdi-fullscreen"></i> English</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    
</ul>

