<div class="sidebar-inner c-overflow">    
    <div class="profile-menu">
        <a href="" toggle-submenu>
            <div class="profile-pic">
                <img ng-src="{{urlPicture}}" alt="">
            </div>

            <div class="profile-info">
                {{name}}
                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            
            <li>
                <a data-ui-sref="pages.profile.profile-about" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-account"></i> {{ 'MY_PROFILE' | translate }}</a>
            </li>
            
            <!--
            <li>
                <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
            </li>
            -->
            <li>
                <a ng-click="logOut()"><i class="zmdi zmdi-time-restore"></i> {{ 'EXIT' | translate }}</a>
            </li>
        </ul>
        
        <!--
         <button class="js-push-button" disabled>
          Enable Push Messages
        </button>
        -->
        
    </div>

    <ul class="main-menu">
        
        <li data-ui-sref-active="active">
            <a data-ui-sref="pages.wall" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i> {{ 'INDEX' | translate }}</a>
        </li>
        
        <!--
        <li data-ui-sref-active="active">
            <a data-ui-sref="pages.cotizador" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-money"></i> Cotizador</a>
        </li>
        -->
        
        <!--
        <li data-ui-sref-active="active">
            <a data-ui-sref="typography" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-format-underlined"></i> Typography</a>
        </li>
        -->
        
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('widgets') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-widgets"></i> {{ 'APPOINTMENTS' | translate }}</a>

            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="pages.agenda" data-ng-click="mactrl.sidebarStat($event)">{{ 'DIARY' | translate }}</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="pages.citas" data-ng-click="mactrl.sidebarStat($event)">{{ 'APPOINTMENTS' | translate }}</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="pages.citashorarios" data-ng-click="mactrl.sidebarStat($event)">{{ 'SCHEDULES' | translate }}</a></li>
            </ul>
        </li>
        
        
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('tables') }">
            <a href="" toggle-submenu><i class="zmdi zmdi zmdi-view-list"></i> {{ 'PARAMETERS' | translate }}</a>

            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="pages.listadoDiagnosticos" data-ng-click="mactrl.sidebarStat($event)">{{ 'DIAGNOSTICS' | translate }}</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="pages.listadoPrestadores" data-ng-click="mactrl.sidebarStat($event)">{{ 'PROVIDERS' | translate }}</a></li>
            </ul>
        </li>
        
        
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('form') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-collection-text"></i> {{ 'PATIENTS' | translate }}</a>

            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="pages.listadopacientes" data-ng-click="mactrl.sidebarStat($event)">{{ 'SEE_PATIENTS' | translate }}</a></li>
            </ul>
        </li>
        
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('form') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-image"></i> {{ 'RESOURCES' | translate }}</a>

            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="photo-gallery.videos" data-ng-click="mactrl.sidebarStat($event)">{{ 'VIDEOS' | translate }}</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="photo-gallery.model" data-ng-click="mactrl.sidebarStat($event)">{{ 'MODEL3D' | translate }}</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="photo-gallery.imagenesDentales" data-ng-click="mactrl.sidebarStat($event)">{{ 'IMAGES' | translate }}</a></li>
            </ul>
        </li>
        
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('form') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-account"></i> {{ 'MY_DATA' | translate }}</a>

            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="pages.profile.profile-about" data-ng-click="mactrl.sidebarStat($event)"> {{ 'MY_PROFILE' | translate }}</a></li>
            </ul>
        </li>

    </ul>
</div>
