

<div class="container">
    
    <div class="card">
        <div class="listview lv-bordered lv-lg">
        <div class="card-header ch-alt m-b-20">
            <h2>Videos<small> Videos de procedimientos odontologicos</small></h2>
        </div>
            
        <div class="lv-body">
            <div class="p-10 ">
                <h4>Da click en el video y te enseñara como podras visualizar los diferentes videos </h4>
            </div>
            <br/>
            <div class="p-10 " id="ytplayer"></div>
        </div>
        </div>                       
    </div>
    
    <div class="card">
        <div class="card-body card-padding">
            <div class="form-group">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" placeholder="Filtrar videos" ng-model="search">
                </div>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list | filter:search">
                    <td> <img ng-click="reproduceVideo(item)" ng-src="{{item.snippet.thumbnails.default.url}}"/> </td>
                    <td>{{item.snippet.title}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
    </div>
    
</div>



<script>
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  
  hefesoft.util["ytPlayer"] = {};
  function onYouTubePlayerAPIReady() {
    hefesoft.util.ytPlayer = new YT.Player('ytplayer', {
      height: '500',
      width: '800',
      videoId: '5xnzb4KmZ0Q',
      playerVars: {
                      listType:'playlist',
                      list: 'PLc4ZtAvk4ejZkxCVetOmabqZ-AEBpn61u'
                  }
    });
  }
</script>



