   <div>
       <section id="content">
        <div class="container">
            <div class="card">
                <div class="card-header ch-alt m-b-20">
                    <h2>{{ 'SCHEDULE' | translate }} <small> {{ 'SCHEDULE_SUB_TITLE' | translate }}</small></h2>
                    
                    <button 
        	            tooltip="{{ 'DO_YOU_NEED_HELP' | translate }}"
        	            ng-controller="helpCtrl" 
        	            ng-click="open('lg', 'js/hefesoft/help/horario.html')" 
        	            class="btn bgm-lightgreen btn-icon waves-effect waves-circle">
        	            <i class="zmdi zmdi-pin-help zmdi-hc-fw"></i>
                	</button>
                	</br>
                    
                </div>
                
                 <div class="card-body card-padding">
                    <div class="row">
                       
                        <div class="col-sm-4">
                           <div class="form-group">
                                <div class="fg-line">
                                    <input tooltip="{{ 'TIME_FIRST_APPOINTMENT' | translate }}" type="text" data-input-mask="{mask: '00'}" ng-model="Intervalos.horaInicio" class="input-sm form-control fg-input">
                                </div>
                                <label class="fg-label">{{ 'START_TIME_WORK' | translate }}</label>
                            </div>
                        </div>
                        
                        <div class="col-sm-4">
                           <div class="form-group">
                                <div class="fg-line">
                                    <input tooltip="{{ 'APPOINTMENTS_NUMBER_HOURS' | translate }}" type="text" data-input-mask="{mask: '00'}" ng-model="Intervalos.numeroHorasTrabajo" class="input-sm form-control fg-input">
                                </div>
                                <label class="fg-label">{{ 'NUMBER_OF_WORKING_HOURS' | translate }}</label>
                            </div>
                        </div>
                        
                        
                        <div class="col-sm-4">
                           <div class="form-group">
                                <div class="fg-line">
                                    <input tooltip="{{ 'APPOINTMENTS_INTERVALS' | translate }}" type="text" data-input-mask="{mask: '00'}" ng-model="Intervalos.intervaloCitas" class="input-sm form-control fg-input">
                                </div>
                                <label class="fg-label">{{ 'RANGE_OF_APPOINTMENTS' | translate }}</label>
                            </div>
                        </div>
                        
                    </div>
                    
                     <div class="form-group">
                        <div class="fg-line">
                            <div class="pull-right">
                                <button ng-click="saveCitasIntervalos()" class="btn bgm-orange btn-icon waves-effect"><i class="zmdi zmdi-check zmdi-hc-fw"></i></button>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </section>
</div>