
<div class="row">
    <div class="pull-right p-r-25">
    	<div class="btn-group btn-group-xs" role="group">
    		<button ng-click="generarCotizacion()" class="btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-apps"></i>Generar cotizacion</button>
    	</div>
    </div>
</div>

</br>


<div class="card">
        <buscador-diagnosticos diagnostico-seleccionado="dxSeleccionado(item)">
    	</buscador-diagnosticos>
</div>

<div class="card">
    <div class="card-body table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Descripcion</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                
                <tr ng-repeat="item in listado track by $index">
                    
                    <td>
                        <button class="btn btn-default waves-effect" ng-click="eliminar(item, $index)"><i class="zmdi zmdi-delete"></i></button>
                    </td> 
                    
                    <td>{{item.nombre}}</td>
                    <td>{{item.valor | currency}}</td>
                </tr>
                
                <!-- Footer -->
                 <tr>
                     <td></td>
                    <td>Total</td>
                    <td>{{footer.suma | currency}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>

