<div>
	
	<div class="row">
		<div class="col-sm-2">
			
		</div>
		
		<div class="col-sm-8">
			
			<div class="pull-left">
				<historico-odontograma id="historicoOdontograma" callback="cambiarHistorico(id)"></historico-odontograma>
			</div>
			
			<div class="pull-right p-r-25">
				<div class="btn-group btn-group-xs" role="group">
					<button ng-click="borrarTodo()" tooltip="Crea un odontograma desde cero" class="btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-apps"></i>Borrar todo</button>
					
					<button ng-click="cotizacion()" class="btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-apps"></i>Generar cotizacion</button>
					<button ng-click="planTratamiento()" class="btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-apps"></i>Plan de tratamiento</button>
				    <button ng-click="guardarCommand()" class="btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-check"></i>Guardar</button>
				</div>
			</div>
		</div>
		
		<div class="col-sm-2">
		</div>
	</div>

	<div class="row">		
		 <div class="col-sm-2">
		 	
		 	<div class="p-l-5 p-b-5">
		 		<button 
		            tooltip="Necesitas ayuda este video puede ayudarte"
		            ng-controller="helpCtrl" 
		            ng-click="open('lg', 'js/hefesoft/help/odontograma.html')" 
		            class="btn bgm-lightgreen btn-icon waves-effect waves-circle">
		            <i class="zmdi zmdi-pin-help zmdi-hc-fw"></i>
            	</button>
            	</br>
		 	</div>
			
			<buscador-diagnosticos diagnostico-seleccionado="dxSeleccionado(item)">
			</buscador-diagnosticos>
			
			<buscador-prestador prestador-seleccionado="prestadorSeleccionado(item)"></buscador-prestador>
			
			<div class="card">
			
				<div class="card-header">
					<h2>Indices</h2>
				</div>
				
				<div class="card-body card-padding">
					
					<div class="form-group">
						<dt class="p-t-10">Numero de piezas dentales</dt>
                          <div class="fg-line">
                              <input type="text" class="form-control" placeholder="Numero pieza dentales" ng-model="numeroPiezasDentales">
                          </div>
                     </div>
                     
                     <div class="form-group">
                     	 <dt class="p-t-10">Indice CIE</dt>
                          <div class="fg-line">
                              <input type="text" class="form-control" placeholder="Indice Cie" ng-model="indiceCie">
                          </div>
                     </div>
                     
                     <div class="form-group">
                     	 <dt class="p-t-10">Indice CUP</dt>
                          <div class="fg-line">
                              <input type="text" class="form-control" placeholder="Indice Cup" ng-model="indiceCup">
                          </div>
                     </div>
					
				</div>
				
			
			</div>
		
		</div>

		<div class="col-sm-8">
				<odontograma
					click-callback="piezaDentalSeleccionada(item)"
					numero-pieza-modificada="numeroPiezaModificada"
					pieza-modificada="piezaModificada(item)"
					diagnostico-seleccionado="diagnosticoSeleccionado"
					tratamiento-seleccionado="tratamientoSeleccionado"
					odontograma-base-cargado-callback="odontogramaBaseCargado(item)"
					contexto="contextoOdontograma"
					>				
				</odontograma>
			</br>
		
			<listados-diagnosticos-no-header
				titulo-tabla="true"
				modo-lectura="'true'"
				ver-superficie="true"
				tratamientos-callback="openTratamiento(item)"
				new-callback="open()"
				edit-callback="open(item)"
				eliminar-callback="eliminar(item, $index)"
				source="PiezaSeleccionada.centroDiagnosticos_arrayHefesoft"
				source1="PiezaSeleccionada.izquierdaDiagnosticos_arrayHefesoft"
				source2="PiezaSeleccionada.derechaDiagnosticos_arrayHefesoft"
				source3="PiezaSeleccionada.arribaDiagnosticos_arrayHefesoft"
				source4="PiezaSeleccionada.abajoDiagnosticos_arrayHefesoft"
				source5="PiezaSeleccionada.piezaCompletaDiagnosticos_arrayHefesoft"
				
				source-label="'Centro'"
				source1-label="'Izquierda'"
				source2-label="'Derecha'"
				source3-label="'Arriba'"
				source4-label="'Abajo'"
				source5-label="'Pieza completa'"
				>
			 </listados-diagnosticos-no-header>
		
		
		</div>
		
		
		

	</div>

	
</div>