<div>
	
	<div class="row">
		<div class="btn-group pull-right m-r-5">
		    
		    <button 
		        ng-click="planTratamiento()"
		        type="button" 
		        class="btn btn-primary waves-effect waves-button waves-float">Plan de tratamiento
		    </button>

		    <button 
		        ng-click="guardarCommand()"
		        type="button" 
		        class="btn btn-primary waves-effect waves-button waves-float">Guardar
		    </button>		    
		</div>
	</div>

	<div class="row">		
		 <div class="col-sm-2">
			
			<buscador-diagnosticos diagnostico-seleccionado="dxSeleccionado(item)">
			</buscador-diagnosticos>
		
		</div>

		<div class="col-sm-8">			
			<odontograma
				click-callback="piezaDentalSeleccionada(item)"
				numero-pieza-modificada="numeroPiezaModificada"
				pieza-modificada="piezaModificada(item)"
				diagnostico-seleccionado="diagnosticoSeleccionado"
				tratamiento-seleccionado="tratamientoSeleccionado"
				odontograma-base-cargado-callback="odontogramaBaseCargado(item)"
				contexto="contextoOdontograma"
				>				
			</odontograma>
		</div>

	</div>

	<div class="row m-t-10">
		<div class="col-sm-2">
		</div>

		<div class="col-sm-10">
		 <div style="overflow: auto;">
		 	
		 	 <table class="table">
                <thead>
                    <tr>
                        <th class="col-sm-1">Nombre</th>
                        <th class="col-sm-1"ng-show="verSuperficie">
                            Superficie
                        </th>
                        
                        <th class="col-sm-1">Tipo</th>
                        <th class="col-sm-1">Simbolo diagnostico</th>
                        <th class="col-sm-1">Simbolo evolucion</th>
                        <th class="col-sm-1">Desc Cie</th>
                    </tr>
                </thead>
              
            </table>
			
			<listados-diagnosticos-no-header				
				modo-lectura="'true'"
				ver-superficie="'true'"
				tratamientos-callback="openTratamiento(item)"
				new-callback="open()"
				edit-callback="open(item)"
				eliminar-callback="eliminar(item, $index)"
				source="PiezaSeleccionada.centroDiagnosticos_arrayHefesoft">
			</listados-diagnosticos-no-header>
			
			<listados-diagnosticos-no-header				
				modo-lectura="'true'"
				ver-superficie="'true'"
				tratamientos-callback="openTratamiento(item)"
				new-callback="open()"
				edit-callback="open(item)"
				eliminar-callback="eliminar(item, $index)"
				source="PiezaSeleccionada.izquierdaDiagnosticos_arrayHefesoft">
			</listados-diagnosticos-no-header>
			
			<listados-diagnosticos-no-header				
				modo-lectura="'true'"
				ver-superficie="'true'"
				tratamientos-callback="openTratamiento(item)"
				new-callback="open()"
				edit-callback="open(item)"
				eliminar-callback="eliminar(item, $index)"
				source="PiezaSeleccionada.derechaDiagnosticos_arrayHefesoft">
			</listados-diagnosticos-no-header>
			
			<listados-diagnosticos-no-header				
				modo-lectura="'true'"
				ver-superficie="'true'"
				tratamientos-callback="openTratamiento(item)"
				new-callback="open()"
				edit-callback="open(item)"
				eliminar-callback="eliminar(item, $index)"
				source="PiezaSeleccionada.arribaDiagnosticos_arrayHefesoft">
			</listados-diagnosticos-no-header>
			
			<listados-diagnosticos-no-header				
				modo-lectura="'true'"
				ver-superficie="'true'"
				tratamientos-callback="openTratamiento(item)"
				new-callback="open()"
				edit-callback="open(item)"
				eliminar-callback="eliminar(item, $index)"
				source="PiezaSeleccionada.abajoDiagnosticos_arrayHefesoft">
			</listados-diagnosticos-no-header>
			
		 </div>
		</div>		
	</div>
</div>