<div class="container wall" ng-controller="feedCtrl">

    <div class="block-header" data-intro="{{ 'WALL_ADVERTISEMENT_TOOLTIP' | translate }}" data-step='3'>
        <h2>dentiline <small>{{ 'WALL_ADVERTISEMENT' | translate }}</small></h2>
    </div>
    
    <div class="row">
        <div class="col-md-8">
            
            <!--
            <fb-react-news ng-model="url"></fb-react-news>
            -->
            
            <fb-news ng-model="url"></fb-news>
        
        </div>
        
        <div class="col-md-4 hidden-sm">
            
            <div class="card">
                <div class="card-header">
                    <h2>{{ 'YOU_ARE_HERE_MESSAGE' | translate }} <small>{{ 'SEE_OUR_VIDEOS_MESSAGE' | translate }}</small></h2>
                </div>
                <div class="card-body card-padding">
                    <button ng-controller="helpCtrl" ng-click="open('lg', 'js/hefesoft/help/home.html')" class="pull-right btn bgm-lightgreen btn-icon waves-effect waves-circle">
                        <i class="zmdi zmdi-pin-help zmdi-hc-fw"></i>
                    </button>
                </div>
            </div>
            
            
            <div class="card">
                <div class="card-header">
                    <h2>{{ 'CONTACT_INFORMATION' | translate }} <small>La fabrica de lo que ves...</small></h2>
                </div>
                <div class="card-body card-padding">
                    <div class="pmo-contact">        
                        <ul>
                            <li class="ng-binding"><i class="zmdi zmdi-phone"></i> +573176578785</li>
                            <li class="ng-binding"><i class="zmdi zmdi-email"></i> hefesoft@outlook.com</li>
                            <li class="ng-binding"><i class="zmdi zmdi-facebook-box"></i> hefesoft</li>
                            <li class="ng-binding"><i class="zmdi zmdi-twitter"></i> @hefesoft (twitter.com/hefesoft)</li>
                            <li>
                                <i class="zmdi zmdi-pin"></i>
                                <address class="m-b-0 ng-binding">
                                    Bogota Colombia, <br>
                                </address>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>
