<div class="login-content" data-ng-controller="loginCtrl as lctrl"> 

        <div class="text-center">
        <!-- Login -->
        <div class="lc-block" id="l-login" style="display: inline-block; box-shadow: 0 0;">
             <div>
                <div class="card-header">
                    <h2>Ingresar</h2>
                </div>
                
                <div class="card-body card-padding">
                    Para nosotros es un honor que estes interezado en nuestro producto, Ya que estas aqui porque no das un vistazo
                    
                    <br/>
                    <br/>
                    
                    <google-plus-signin clientid="505952414500-c04fnrdu3njem1cl2ug9h5gbd6rs025k.apps.googleusercontent.com">
                </div>
            </div>
        </div>
       
       <div>
       
</div>
