<div class="container wall" data-ng-controller="loginCtrl as lctrl">

    <div class="block-header">
        <h2>Hefesoft odontologia <small>Noticias relacionadas con el ramo odontologico</small></h2>
    </div>
    
    <div class="row">
        <div class="col-md-8">
            
            <!-- Post
            <div class="card wall-posting">
                <div class="card-body card-padding">
                    <textarea class="wp-text" data-auto-size placeholder="Write Something..."></textarea>
                    
                    <div class="wp-media" data-ng-if="mactrl.wallImage">
                        Images - Coming soon...
                    </div>
                    
                    <div class="wp-media" data-ng-if="mactrl.wallVideo">
                        Video Links - Coming soon...
                    </div>
                    
                    <div class="wp-media" data-ng-if="mactrl.wallLink">
                        Links - Coming soon...
                    </div>
                </div>
                
                <ul class="list-unstyled clearfix wpb-actions">
                    <li class="wpba-attrs">
                        <ul class="list-unstyled list-inline m-l-0 m-t-5">
                            <li><a data-wpba="image" href="" data-ng-class="{ 'active': mactrl.wallImage }" data-ng-click="mactrl.wallImage = true; mactrl.wallVideo = false; mactrl.wallLink = false"><i class="zmdi zmdi-image"></i></a></li>
                            <li><a data-wpba="video" href="" data-ng-class="{ 'active': mactrl.wallVideo }" data-ng-click="mactrl.wallVideo= true; mactrl.wallImage = false; mactrl.wallLink = false"><i class="zmdi zmdi-play-circle"></i></a></li>
                            <li><a data-wpba="link" href="" data-ng-class="{ 'active': mactrl.wallLink }" data-ng-click="mactrl.wallLink = true; mactrl.wallImage = false; mactrl.wallVideo = false"><i class="zmdi zmdi-link"></i></a></li>
                        </ul>
                    </li>

                    <li class="pull-right"><button class="btn btn-primary btn-sm">Post</button></li>
                </ul>
            </div>
            -->

            <asociacion-odontologos url="'/1479338312367444/feed'"></asociacion-odontologos>
            <asociacion-odontologos url="'/351781574835113/feed'"></asociacion-odontologos>
            <odontologoscomco></odontologoscomco>
            
        
           
        
        </div>
        
        <div class="col-md-4 hidden-sm">
            <div class="card">
                <div class="card-header">
                    <h2>Ingresar</h2>
                </div>
                
                <div class="card-body card-padding">
                    Para nosotros es un honor que estes interezado en nuestro producto, Ya que estas aqui porque no das un vistazo
                    
                    <br/>
                    <br/>
                    
                    <google-plus-signin clientid="505952414500-c04fnrdu3njem1cl2ug9h5gbd6rs025k.apps.googleusercontent.com">
                </div>
            </div>
            
            
            <!--
            <div class="card picture-list">
                <div class="card-header">
                    <h2>Photos <small>Cras congue nec lorem eget posuere</small></h2>
    
                    <ul class="actions">
                        <li class="dropdown action-show" dropdown>
                            <a href="" dropdown-toggle>
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
    
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Refresh</a>
                                </li>
                                <li>
                                    <a href="">Manage Widgets</a>
                                </li>
                                <li>
                                    <a href="">Widgets Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
    
                <div class="pl-body">
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/1.png" alt="">
                        </a>
                    </div>
    
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/2.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/3.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/4.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/5.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/6.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/7.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/8.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/9.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/1.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/2.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/3.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="card" data-ng-controller="recentpostCtrl as rpctrl">
                <div class="card-header">
                    <h2>Recent Comments <small>Commodo vel pharetra nisi. Donec velit libero</small></h2>
                </div>
                <div class="listview">
                    <div class="lv-body">
    
                        <a class="lv-item" href="" data-ng-repeat="w in rpctrl.rpResult.list">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="lv-img-sm" data-ng-src="img/profile-pics/{{ w.img }}" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="lv-title">{{ w.user }}</div>
                                    <small class="lv-small">{{ w.text }}</small>
                                </div>
                            </div>
                        </a>
    
                    </div>
                    
                    <div class="clearfix"></div>
                    
                    <a class="lv-footer" href="">View All</a>
                </div>
            </div>
            
            -->
            
            <div class="card">
                <div class="card-header">
                    <h2>Informacion de contacto <small>La fabrica de lo que ves...</small></h2>
                </div>
                <div class="card-body card-padding">
                    <div class="pmo-contact">        
                        <ul>
                            <li class="ng-binding"><i class="zmdi zmdi-phone"></i> +573176578785</li>
                            <li class="ng-binding"><i class="zmdi zmdi-email"></i> hefesoft@outlook.com</li>
                            <li class="ng-binding"><i class="zmdi zmdi-facebook-box"></i> hefesoft</li>
                            <li class="ng-binding"><i class="zmdi zmdi-twitter"></i> @hefesoft (twitter.com/hefesoft)</li>
                            <li>
                                <i class="zmdi zmdi-pin"></i>
                                <address class="m-b-0 ng-binding">
                                    Bogota Colombia, <br>
                                </address>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
