<div class="login-content" data-ng-controller="loginCtrl as lctrl">

    <div class="text-center">
        <!-- Login -->
        <div class="lc-block" id="l-login" style="display: inline-block; box-shadow: 0 0;">
            <div>
                <div class="card-header">
                    <h2>{{ 'LOGIN_TITLE' | translate }}</h2>

                    <br/>
                    <br/>

                    <img src="images/logos/Logo.scale-100.png"></img>

                </div>



                <div class="card-body card-padding">

                    {{ 'LOGIN_TEXT' | translate }}

                    <br/>
                    <br/>

                    <google-plus-signin clientid="505952414500-c04fnrdu3njem1cl2ug9h5gbd6rs025k.apps.googleusercontent.com">

                </div>

                <button ng-controller="helpCtrl" ng-click="open('lg', 'js/hefesoft/help/login.html')" class="pull-right btn bgm-lightgreen btn-icon waves-effect waves-circle">
                    <i class="zmdi zmdi-pin-help zmdi-hc-fw"></i>
                </button>

            </div>
        </div>

    </div>

</div>
