<div class="container">
   <div class="block-header">
        <h2>Modelos  <small>Modelos en 3d para que expliques mas facil a tus pacientes sus tratamientos</small></h2>
    </div>

    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h2 class="lvh-label hidden-xs">Modelos 3d</h2>
           
        </div>

        <div class="card-body card-padding">

            <div class="lightbox photos">
                
                <iframe src="https://p3d.in/e/qfe4N" width="320" height="240" frameborder="0" seamless allowfullscreen webkitallowfullscreen></iframe>
                <iframe src="https://p3d.in/e/SZlWw" width="320" height="240" frameborder="0" seamless allowfullscreen webkitallowfullscreen></iframe>
                <iframe src="https://p3d.in/e/HOZLx" width="320" height="240" frameborder="0" seamless allowfullscreen webkitallowfullscreen></iframe>
                <iframe src="https://p3d.in/e/kbdI3" width="320" height="240" frameborder="0" seamless allowfullscreen webkitallowfullscreen></iframe>
                <iframe src="https://p3d.in/e/UYqgY" width="320" height="240" frameborder="0" seamless allowfullscreen webkitallowfullscreen></iframe>
                <iframe src="https://p3d.in/e/fCK43" width="320" height="240" frameborder="0" seamless allowfullscreen webkitallowfullscreen></iframe>
                
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
