<div class="login-content">
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>


    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="card">

                <div id="loading-bar-spinner">
                    <div class="spinner-icon"></div>
                </div>


                <div class="card-header">
                    <div class="media">
                        <div class="pull-left">
                            <img class="lv-img" src="images/logos/SmallLogo.scale-180.png" alt="">
                        </div>

                        <div class="media-body m-t-5">
                            <h2>{{ 'DID_YOU_KNOW' | translate }}<small>{{ 'PRELOAD_SUBTITLE' | translate }}</small></h2>
                        </div>
                    </div>
                </div>

                <div class="card-body card-padding p-t-0">
                    <p style="font-size:1.5em" id="datoCurioso"></p>
                </div>
            </div>


        </div>
    </div>


</div>