<style type="text/css">
    
    .ppr{
        display: -webkit-inline-box;
    }
    
    .ppr input[type="text"] {
      padding: 5px;
      width: 30px;
    }
    
    
</style>

<div class="ppr">
    
    <b>
        PPR
    </b>
    
    SUP
    
    <input type="text" ng-model="ppr.pprSup"/>
    
   
    INF
    
    <input type="text" ng-model="ppr.pprInf"/>
    
    <b>
        PTOTAL
    </b>
    
   
    SUP
    
    <input type="text" ng-model="ppr.supSup"/>
    
   
    INF
    
    <input type="text" ng-model="ppr.supInf"/>
    
    <b>
    PPF
    </b>
  
    SUP
   
    
    <input type="text" ng-model="ppr.ppfSup"/>
    
    
    No. U
  
    
    <input type="text" ng-model="ppr.ppfNoU"/>
    
 
    INF
  
    
    <input type="text" ng-model="ppr.ppfInf"/>
    
  
    No. U
    
    
    <input type="text" ng-model="ppr.ppfNoU2"/>
    
</div>