<style type="text/css">
	
.elemento-invisible{
	width: 33%;
	margin: 1px;	
}

.elemento{
	width: 33%;
	margin: 1px;
	border-style: solid;
    border-width: 1px;		
}

.elemento-centro{
	width: 33%;
	margin: 1px;
	border-style: solid;
    border-width: 1px;		
}

.elementos-container{
	display: -webkit-box;
}

.numero-pieza-dental{
	text-align: center;
}


</style>

<!-- Se arma como un tres en raya para los diagnosticos -->
<div>
	<div class="numero-pieza-dental">
		<p>{{item.numeroPiezaDental | piezaDentalNumero}}</p>
	</div>


	<div class="elementos-container">
		<div class="elemento-invisible"><p></p></div>
		<div ng-hide="esBoca" 
		ng-click="clickSuperficie('arriba')" class="elemento">
			<superficie
				color="fijarElemento('arriba','color',item)"
				simbolo="fijarElemento('arriba','simbolo',item)"
                fuente="fijarElemento('arriba','fuente',item)"
                path-imagen="fijarElemento('arriba','imagen',item)"
                ng-model"item">
			</superficie>
		</div>
		<div class="elemento-invisible"><p></p></div>	
	</div>

	<div class="elementos-container">
		<div
		ng-hide="esBoca" 
		ng-click="clickSuperficie('izquierda')" class="elemento">
			<superficie
				color="fijarElemento('izquierda','color',item)"
				simbolo="fijarElemento('izquierda','simbolo',item)"
                fuente="fijarElemento('izquierda','fuente',item)"
                path-imagen="fijarElemento('izquierda','imagen',item)"
                ng-model"item">
			</superficie>
		</div>

		<div 
		ng-click="clickSuperficie('centro')" class="elemento-centro">
			<superficie
				color="fijarElemento('centro','color',item)"
				simbolo="fijarElemento('centro','simbolo',item)"
                fuente="fijarElemento('centro','fuente',item)"
                path-imagen="fijarElemento('centro','imagen',item)"
                ng-model"item">
			</superficie>
		</div>

		<div 
		ng-hide="esBoca"
		ng-click="clickSuperficie('derecha')" class="elemento">
			<superficie
				color="fijarElemento('derecha','color',item)"
				simbolo="fijarElemento('derecha','simbolo',item)"
                fuente="fijarElemento('derecha','fuente',item)"
                path-imagen="fijarElemento('derecha','imagen',item)"
                ng-model"item">
			</superficie>
		</div>
	</div>

	<div class="elementos-container">
		<div class="elemento-invisible"><p></p></div>
		<div 
		ng-hide="esBoca"
		ng-click="clickSuperficie('abajo')" class="elemento">
			<superficie
				color="fijarElemento('abajo','color',item)"
				simbolo="fijarElemento('abajo','simbolo',item)"
                fuente="fijarElemento('abajo','fuente',item)"
                path-imagen="fijarElemento('abajo','imagen',item)"
                ng-model"item">
			</superficie>
		</div>
		<div class="elemento-invisible"><p></p></div>
	</div>
</div>