<section id="content" data-ng-controller="calendarAgendaCtrl as clctrl">
    
    <div class="container" data-ng-controller="ModalDemoCtrl">
        
        <button 
        ng-click="auth()"
        ng-show="mostrarBotonAutorizar"> 
        	Autenticar	
        </button>
        
        <div class="block-header">
            <h2>{{ 'AGENDA' | translate }} <small>{{ 'DENTIST_AGENDA' | translate }}</small></h2>
            
            <button 
                tooltip="{{ 'DO_YOU_NEED_HELP' | translate }}"
                ng-controller="helpCtrl" 
                ng-click="open('lg', 'js/hefesoft/help/agenda.html')" 
                class="btn bgm-lightgreen btn-icon waves-effect waves-circle">
                <i class="zmdi zmdi-pin-help zmdi-hc-fw"></i>
        	</button>
        	</br>
        
        </div>
        
        <buscador-prestador prestador-seleccionado="cargarEventos(item.idCalendar)"></buscador-prestador>

        <div id="calendar" ng-model="listadoEventos" default-view="'basicWeek'" data-lang="'es'" data-calendar data-action-links="clctrl.actionMenu" data-event-click="clctrl.onEventSelected(calEvent, jsEvent, view)" data-select="clctrl.onSelect(start, end)"></div>
        
      
    </div>
</section>