<div class="card">
    <div class="card-header">
        <h2>Prestador <small></small></h2>
        
        <div class="pull-right">
            <img class="lv-img" src="{{prestador.pictureUrl}}" alt="">
            <ng-file-input mode="binary-string" tmpl="'js/hefesoft/templates/upload.html'" callback="changeImage(file)">Cambiar imagen</ng-file-input>
        </div>
        
    </div>
    
    <div class="card-body card-padding">
        <p class="c-black f-500">Por favor digite la informacion del prestador</p>       
    
        <form name="addPrestador">
            <div class="form-group">
                <div class="fg-line">
                    <input name="nombres" type="text" class="form-control input-sm" placeholder="Nombres y apellidos" ng-model="prestador.nombre" required>
                </div>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">Genero {{prestador.genero}}</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-change="genero()" ng-model="prestador.genero">
                            <option>Mujer</option>
                            <option>Hombre</option>
                            <option>Otro</option>
                        </select>
                    </div>
                </dd>
            </div>
    
            <div class="form-group">
                <div class="fg-line">
                    <input name="identificacion" type="text" class="form-control input-sm" placeholder="Numero de identificacion" ng-model="prestador.cedula" required>
                </div>
            </div>
    
            <div class="form-group">
                <div class="fg-line">
                    <input name="email" type="text" class="form-control input-sm" placeholder="Email" ng-model="prestador.email" required>
                </div>
            </div>
            
            <div class="form-group">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" placeholder="Telefono" ng-model="prestador.telefono">
                </div>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">Especialidad {{prestador.especialidad}}</dt>
                <dd>
                    <div class="fg-line">
                        <select name="especialidad" class="form-control" ng-model="prestador.especialidad" required>
                            <option>Odontologia</option>
                            <option>Ortodoncista</option>
                            <option>Periodontologo</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="clearfix"></div>
            
            <div class="row">
                <button 
                ng-disabled="addPrestador.nombres.$invalid || addPrestador.identificacion.$invalid || addPrestador.email.$invalid || addPrestador.especialidad.$invalid" 
                ng-click="save()" 
                class="btn btn-info btn-sm waves-effect waves-button waves-float">Guardar</button>
            </div>
        </form>

</div>
</div>