<div class="card">
        <div class="card-header">
            <h2>{{ 'ADD_OR_MODIFY' | translate }}<small></small></h2>
        </div>
        
        <div class="card-body card-padding">
             <p class="c-black f-500">{{ 'CREATE_OR_MODIFY_PROCEDURE' | translate }}</p> 

            <div class="form-group">
                <div class="fg-line">
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="{{ 'NAME' | translate }}" 
                        ng-model="Procedimiento.nombre">
                </div>
            </div>
            

            <div class="form-group">
                <div class="fg-line">
                    <p>{{ 'TYPE' | translate }} <mark>{{Procedimiento.objectHefesoftEspecialidad.nombre}}</mark></p>
                    <div class="select">
                       <select 
                            class="form-control" 
                            ng-model="Procedimiento.objectHefesoftEspecialidad"
                            ng-options="especialidad.nombre for especialidad in Especialidades"                            
                            >
                        </select>
                    </div>
                </div>
            </div>

             
            <p class="c-black f-500">Cup</p> 

            <div class="form-group">
                <div class="fg-line">
                     <input type="text" ng-model="Procedimiento.idiceCup" typeahead="cup.Descripcion for cup in listadoCup | filter:$viewValue | limitTo:8" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <div class="fg-line">
                    <input type="text" 
                    class="form-control"
                    placeholder="{{ 'VALUE' | translate }}"
                    ng-model="Procedimiento.valor"
                    numeric-only>
                </div>
            </div>
            
            <div class="form-group">
                <div class="fg-line">
                    <p><mark>{{Procedimiento.valor | currency}}</mark></p>
                </div>
            </div>

            

            <div class="form-group">
                <div class="fg-line">
                    <button ng-click="adicionar()" class="btn btn-info btn-sm waves-effect waves-button waves-float">{{modo}}</button>    
                </div>
            </div>


            </div>
        </div>
</div>

    