

<div class="card">
     <div class="listview lv-bordered lv-lg">
          <div class="card-header ch-alt m-b-20">
            <h2>{{ 'PROCEDURES' | translate }} <small> {{ 'LIST_OF_PROCEDURES' | translate }} </small></h2>

            
            <ul class="actions"> 
            </ul>
                                        
            
            <button ng-click="openProcedimientos()"
                    ng-hide="ocultarAddProcedimiento"
                    class="btn bgm-cyan btn-float waves-effect waves-button waves-float">
                    <i class="zmdi zmdi-plus"></i>
            </button>
          </div>
     </div>            
    <div class="card-body m-t-0">
        <table class="table table-inner table-vmiddle">
            <thead>
                <tr>
                    <th></th>
                    <th ng-hide="editable" ng-hide="modoPagos"></th>
                    <th>{{ 'PROCEDDURE_NAME' | translate }}</th>
                    <th ng-show="modoPagos">{{ 'NUMBER_OF_TEETH' | translate }}</th>
                    <th ng-show="modoPagos">{{ 'SURFACE' | translate }}</th>
                    <th>{{ 'SPECIALITY' | translate }}</th>
                    <th>{{ 'INDEXEX' | translate }} Cups</th>
                    <th>{{ 'VALUE' | translate }}</th>
                    <th ng-show="modoPagos">{{ 'REALIZED' | translate }}</th>
                    <th ng-show="modoPagos">{{ 'PAID' | translate }}</th>
                    <th ng-show="modoPagos">{{ 'VALUE' | translate }} {{ 'PAID' | translate }}</th>
                    <th ng-show="modoPagos">{{ 'BALANCE' | translate }}</th>                        
                </tr>
            </thead>
            <tbody>
                
                <tr ng-repeat="item in listado track by $index">
                    <td>
                        <button class="btn btn-default waves-effect" ng-click="eliminar(item, $index)"><i class="zmdi zmdi-delete"></i></button>
                    </td> 
                    <td ng-hide="editable">
                        <i 
                            class="md md-keyboard-arrow-right" 
                            ng-click="openProcedimientos('lg',item)">
                            {{ 'EDIT' | translate }}
                        </i>
                    </td>                      
                    <td>
                        <p tooltip="{{item.nombre}}" read-more ng-model="item.nombre" words="false" length="10"></p>
                    </td>
                    <td ng-show="modoPagos">{{item.numeroPiezaDental | piezaDentalNumero}}</td>
                    <td ng-show="modoPagos">{{item.superficie | nombreSuperficie}}</td>
                    <td>{{item.objectHefesoftEspecialidad.nombre}}</td>
                    <td>
                        <p tooltip="{{item.idiceCup}}" read-more ng-model="item.idiceCup" words="false" length="10"></p>
                    </td>
                    <td class="f-500 c-cyan">{{item.valor | currency}}</td>
                    <td ng-show="modoPagos">
                       <div class="toggle-switch" data-ts-color="green">
                            <label 
                                for="{{$index}}_procedimientoRealizado" 
                                class="ts-label">                                
                            </label>{{item.RowKey}}
                            <input 
                                id="{{$index}}_procedimientoRealizado" 
                                type="checkbox" 
                                ng-model="item.Realizado"
                                ng-change="realizado(item)"
                                hidden="hidden">
                            <label 
                                for="{{$index}}_procedimientoRealizado" 
                                class="ts-helper">
                            </label>
                        </div>
                    </td>
                    <td ng-show="modoPagos">
                        <div class="toggle-switch" data-ts-color="green">
                            <label 
                                for="{{$index}}_procedimientoPagado" 
                                class="ts-label">                                
                            </label>
                            <input 
                                id="{{$index}}_procedimientoPagado" 
                                type="checkbox" 
                                ng-model="item.Pagado" 
                                ng-change="checkPagado(item)"
                                hidden="hidden">
                            <label 
                                for="{{$index}}_procedimientoPagado" 
                                class="ts-helper">
                            </label>
                        </div>                            
                    </td>
                    <td ng-show="modoPagos">
                        <div class="form-group">
                            <div class="fg-line">
                                <input type="text"
                                ng-change="cambioValorPagado(item)"
                                class="form-control"
                                placeholder="Valor"
                                ng-model="item.valorPagado"
                                ng-keyup="setModified(item)"
                                ng-currency
                                numeric-only>
                            </div>
                        </div>
                    </td>
                    <td ng-show="modoPagos">
                        <div class="form-group">
                            <div class="fg-line">
                                {{item.saldo | currency}}
                            </div>
                        </div>
                    </td>                        
                </tr>


                <!-- Footer -->
                 <tr ng-show="modoPagos">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{footer.valor | currency}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{footer.saldo | currency}}</td>
                    <td></td>
                    <td></td>
                </tr>


            </tbody>
        </table>
    </div>           
</div> 