<div class="container">

    <div class="card">
        <div class="card-header">
            <h2>Datos Pacientes <small></small></h2>
            
            <div class="pull-right">
                <img class="lv-img" src="{{Paciente.pictureUrl}}" alt="">
                <ng-file-input mode="binary-string" tmpl="'js/hefesoft/templates/upload.html'" callback="changeImage(file)">Cambiar imagen</ng-file-input>
                <button class="btn bgm-orange btn-icon waves-effect waves-circle" ng-click="save()"><i class="zmdi zmdi-check"></i></button>
            </div>
            
            
        </div>
        
        <div class="card-body card-padding">
            <p class="c-black f-500">Por favor digite la informacion del paciente</p>       
        
            <div class="form-group">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" placeholder="Nombres y apellidos" ng-model="Paciente.nombre">
                </div>
            </div>

            <div class="form-group">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" placeholder="Numero de identificacion" ng-model="Paciente.cedula">
                </div>
            </div>

            <div class="form-group">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" placeholder="Email" ng-model="Paciente.email">
                </div>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">Genero</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-change="genero()" ng-model="Paciente.genero">
                            <option>Mujer</option>
                            <option>Hombre</option>
                            <option>Otro</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="row">   

                   <div class="col-sm-6">
                      <div class="form-group">
                        <dt class="p-t-10">Vinculacion Eps</dt>
                        <dd>
                            <div class="fg-line">
                                <select class="form-control" ng-model="Paciente.vinculacionEps">
                                    <option>Si</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </dd>
                    </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                        <dt class="p-t-10">Tipo de vinculacion</dt>
                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" placeholder="Tipo Vinculacion" ng-model="Paciente.tipoVinculacion">
                        </div>
                    </div>
                  </div>
            </div>
            
            
            <div class="form-group">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" placeholder="Ocupacion" ng-model="Paciente.Ocupacion">
                </div>
            </div>
            
            
            <div class="form-group">
                <dt class="p-t-10">Grupo de poblacion</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.grupoPoblacion">
                            <option>5-14 años</option>
                            <option>embarazada</option>
                            <option>Otro</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="row">   

                   <div class="col-sm-4">
                      <div class="form-group">
                          <div class="fg-line">
                              <input type="text" class="form-control" placeholder="Ciudad" ng-model="Paciente.ciudad">
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <div class="fg-line">
                              <input type="text" class="form-control" placeholder="Municipio" ng-model="Paciente.municipio">
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      
                    <div class="date-picker input-group" ng-class="{ 'is-opened': opened == true }">
                        <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                        <div class="fg-line" ng-class="{ 'fg-toggled': opened == true }">
                            <input ng-click="open($event, 'opened')" type="text" class="form-control" datepicker-popup="{{format}}" show-weeks="false" ng-model="Paciente.fecha" is-open="opened" min-date="minDate" datepicker-options="dateOptions" current-text="Hoy" clear-text="Limpiar" close-text="Cerrar" placeholder="Fecha" />
                        </div>
                    </div>
                      
                  </div>
            </div>

            <div class="row">   

                   <div class="col-sm-4">
                      <div class="form-group">
                          <div class="fg-line">
                              <input type="text" class="form-control" placeholder="Edad" ng-model="Paciente.edad">
                          </div>
                      </div>
                  </div>
                  
                  <div class="col-sm-4">
                      <div class="form-group">
                          <div class="fg-line">
                              <input type="text" class="form-control" placeholder="Telefono" ng-model="Paciente.telefono">
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <div class="fg-line">
                              <input type="text" class="form-control" placeholder="Eps" ng-model="Paciente.eps">
                          </div>
                      </div>
                  </div>
                  
              </div>
              
            <div class="row">   

                  <div class="col-sm-4">
                      <div class="form-group">
                          <div class="fg-line">
                              <input type="text" class="form-control" placeholder="Ips" ng-model="Paciente.ips">
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <div class="fg-line">
                              <input type="text" class="form-control" placeholder="Ars" ng-model="Paciente.ars">
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <div class="fg-line">
                              <input type="text" class="form-control" placeholder="Regimen especial" ng-model="Paciente.regimenEspecial">
                          </div>
                      </div>
                  </div>
                </div>
                
            <div class="row">   

                   <div class="col-sm-4">
                      <div class="form-group">
                          <div class="fg-line">
                              <input type="text" class="form-control" placeholder="Nombre acudiente" ng-model="Paciente.nombreAcudiente">
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <div class="fg-line">
                              <input type="text" class="form-control" placeholder="Parentesco acudiente" ng-model="Paciente.parentescoAcudiente">
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                       <div class="form-group">
                              <input type="text" class="form-control" placeholder="Telefono acudiente" ng-model="Paciente.telefonoAcudiente">
                          <div class="fg-line">
                          </div>
                      </div>
                  </div>
            </div>
                
        </div>
    </div>
    
    <div class="card">
     
     <div class="card-header">
      <h2>Datos de contacto <small>Datos de contacto del paciente</small></h2>
    </div>
     <div class="card-body card-padding">     
             
            <div class="form-group">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" placeholder="Telefono fijo" ng-model="Paciente.telefonoFijo">
                </div>
            </div>
            
            <div class="form-group">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" placeholder="Telefono celular" ng-model="Paciente.telefonoCelular">
                </div>
            </div>
            
            <div class="form-group">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" placeholder="Direccion" ng-model="Paciente.direccion">
                </div>
            </div>
           
    </div>
    
    </div>
    
    <div class="card">
     
     <div class="card-header">
      <h2>Higiene horal <small>Habitos de higiene horal</small></h2>
    </div>
     <div class="card-body card-padding">     
            
            <div class="row">   

                  <div class="col-sm-6">
                      <div class="form-group">
                        <dt class="p-t-10">Cepillado</dt>
                        <dd>
                            <div class="fg-line">
                                <select class="form-control" ng-model="Paciente.cepillado">
                                    <option>Si</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </dd>
                    </div>
                  </div>
                  
                  <div class="col-sm-4">
                      <div class="form-group">
                          <dt class="p-t-10"># de veces</dt>
                          <div class="fg-line">
                              <input type="text" class="form-control" placeholder="Cuantas veces" ng-model="Paciente.cepilladoCuantasVeces">
                          </div>
                      </div>
                  </div>
                 
            </div>
            
            <div class="row">   

                  <div class="col-sm-6">
                      <div class="form-group">
                        <dt class="p-t-10">Seda dental</dt>
                        <dd>
                            <div class="fg-line">
                                <select class="form-control" ng-model="Paciente.sedaDental">
                                    <option>Si</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </dd>
                    </div>
                  </div>
                  
                  <div class="col-sm-4">
                      <div class="form-group">
                          <dt class="p-t-10"># de veces</dt>
                          <div class="fg-line">
                              <input type="text" class="form-control" placeholder="Cuantas veces" ng-model="Paciente.sedaDentalCuantasVeces">
                          </div>
                      </div>
                  </div>
                 
            </div>
    </div>
    
    </div>
    
    <div class="card">
     
     <div class="card-header">
      <h2>Anamnesis<small></small></h2>
     </div>
         <div class="card-body card-padding">     
                 
            <div class="form-group">
                <dt class="p-t-10">1. Tratamiento medico</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.tratamientoMedico">
                            <option>Si</option>
                            <option>No</option>
                            <option>N. S.</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">2. Ingestion de medicamentos</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.ingestionMedicamentos">
                            <option>Si</option>
                            <option>No</option>
                            <option>N. S.</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">3. Reacciones alergicas</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.reaccionesAlergicas">
                            <option>Si</option>
                            <option>No</option>
                            <option>N. S.</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">4. Hemorragias</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.hemorragias">
                            <option>Si</option>
                            <option>No</option>
                            <option>N. S.</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">5. Irradiaciones</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.irradiaciones">
                            <option>Si</option>
                            <option>No</option>
                            <option>N. S.</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">6. Sinusitis</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.sinusitis">
                            <option>Si</option>
                            <option>No</option>
                            <option>N. S.</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">7. Enfermedades respiratorias</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.enfermedadesRespiratorias">
                            <option>Si</option>
                            <option>No</option>
                            <option>N. S.</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">8. Cardiopatias</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.cardiopatias">
                            <option>Si</option>
                            <option>No</option>
                            <option>N. S.</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">9. Diabetes</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.diabetes">
                            <option>Si</option>
                            <option>No</option>
                            <option>N. S.</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">10. Fiebre Reumatica</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.fiebreReumatica">
                            <option>Si</option>
                            <option>No</option>
                            <option>N. S.</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">11. Hepatitis</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.hepatitis">
                            <option>Si</option>
                            <option>No</option>
                            <option>N. S.</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">12. Hipertension Arterial</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.hipertensionArterial">
                            <option>Si</option>
                            <option>No</option>
                            <option>N. S.</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">13. Otras enfermedades</dt>
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" placeholder="otras enfermedades" ng-model="Paciente.otrasEnfermedades">
                </div>
            </div>
               
        </div>
    
    </div>
    
    <div class="card">
     
     <div class="card-header">
      <h2>Examen Fisico Estomatologico<small></small></h2>
     </div>
         <div class="card-body card-padding">     
                 
            <div class="form-group">
                <dt class="p-t-10">1. Articulacion temporal - mandibular</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.articulacionTemporalMandibular">
                            <option>Normal</option>
                            <option>Anormal</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">2. Labios</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.labios">
                            <option>Normal</option>
                            <option>Anormal</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">3. Lengua</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.lengua">
                            <option>Normal</option>
                            <option>Anormal</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">4. Paladar</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.paladar">
                            <option>Normal</option>
                            <option>Anormal</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">5. Piso de la boca</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.pisoBoca">
                            <option>Normal</option>
                            <option>Anormal</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">6. Carrillo</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.carrillo">
                            <option>Normal</option>
                            <option>Anormal</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">7. Glandulas salivares</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.glandulasSalivares">
                            <option>Normal</option>
                            <option>Anormal</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">8. Maxilares</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.maxilares">
                            <option>Normal</option>
                            <option>Anormal</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">9. Senos maxilares</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.senosMaxilares">
                            <option>Normal</option>
                            <option>Anormal</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">10. Musculos masticadores</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.musculosMasticadores">
                            <option>Normal</option>
                            <option>Anormal</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">11. Sistema Nervioso</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.sitemaNervioso">
                            <option>Normal</option>
                            <option>Anormal</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">12. Sistema Vascular</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.sitemaVascular">
                            <option>Normal</option>
                            <option>Anormal</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">13. Sistema linfatico regional</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.sitemaLinfaticoRegional">
                            <option>Normal</option>
                            <option>Anormal</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">14. Funcion de oclusion</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.funcionOclusion">
                            <option>Normal</option>
                            <option>Anormal</option>
                        </select>
                    </div>
                </dd>
            </div>
            
             <div class="form-group">
                <dt class="p-t-10">15. Otros</dt>
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" placeholder="Otros" ng-model="Paciente.otrosExamenFisico">
                </div>
            </div>
               
        </div>
    
    </div>
    
    <div class="card">
     
     <div class="card-header">
      <h2>Examen oral<small></small></h2>
     </div>
         <div class="card-body card-padding">     
                 
            <div class="form-group">
                <dt class="p-t-10">1. Supernumerarios</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.supernumerarios">
                            <option>Si</option>
                            <option>No</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">2. Abrasion</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.abrasion">
                            <option>Si</option>
                            <option>No</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">3. Manchas</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.manchas">
                            <option>Si</option>
                            <option>No</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">4. Patologia pulpar</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.patalogiaPulpar">
                            <option>Si</option>
                            <option>No</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">5. Placa bacteriana</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.placaBacteriana">
                            <option>Si</option>
                            <option>No</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">6. Placa calificada</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="Paciente.placaCalificada">
                            <option>Si</option>
                            <option>No</option>
                        </select>
                    </div>
                </dd>
            </div>
            
            <div class="form-group">
                <dt class="p-t-10">7. Otros</dt>
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" placeholder="Otros" ng-model="Paciente.examenOralOtros">
                </div>
            </div>
               
        </div>
    
    </div>

    <div class="card">
     
     <div class="card-header">
      <h2>Observaciones <small>Por favor suministre informacion adicinal del paciente de ser necesario</small></h2>
    </div>
     <div class="card-body card-padding">     
             
      <div class="form-group">
          <div class="fg-line">
              <textarea class="form-control" placeholder="Medico particular" ng-model="Paciente.medicoParticular"></textarea>
          </div>
      </div>
      
                  
      <div class="form-group">
          <div class="fg-line">
              <textarea
              class="form-control auto-size" placeholder="Observaciones" 
              style="overflow: hidden; word-wrap: break-word; height: 32px;"
              ng-model="Paciente.observaciones"
              ></textarea>
          </div>
      </div>           
    </div>
    
    </div>

    <button ng-click="save()" class="btn btn-info btn-sm waves-effect waves-button waves-float">Guardar</button>

</div>