<div class="container">
    <div class="block-header">
        <h2>{{ 'NEW_EMAIL' | translate }}</h2>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>{{ 'EMAIL' | translate }} <small></small></h2>
            
            <button 
	            tooltip="{{ 'DO_YOU_NEED_HELP' | translate }}"
	            ng-controller="helpCtrl" 
	            ng-click="open('lg', 'js/hefesoft/help/email.html')" 
	            class="btn bgm-lightgreen btn-icon waves-effect waves-circle">
	            <i class="zmdi zmdi-pin-help zmdi-hc-fw"></i>
        	</button>
        	</br>
            
        </div>

        <div class="card-body card-padding">
           
           <div class="form-group">
                <div class="fg-line">
                    <input type="text" ng-model="recipient" class="form-control input-sm" placeholder="{{ 'EMAIL_PATIENT.SUBJECT' | translate }}">
                </div>
            </div>
           
            <div class="form-group">
                <div class="fg-line">
                    <input type="text" ng-model="subject" class="form-control input-sm" placeholder="{{ 'EMAIL_PATIENT.TO' | translate }}">
                </div>
            </div>
           
            <p class="c-black f-500 m-t-20 m-b-20">{{ 'MESSAGE' | translate }}</p>

            <div class="form-group">
                <div class="fg-line">
                    <textarea class="form-control auto-size" ng-model="body" data-auto-size placeholder="{{ 'BODY' | translate }}"></textarea>
                </div>
            </div>
            
            <div class="form-group">
                <div class="fg-line">
                    <div class="pull-right">
                        <button ng-click="enviar()" class="btn bgm-orange btn-icon waves-effect"><i class="zmdi zmdi-check zmdi-hc-fw"></i></button>
                    </div>
                </div>
            </div>
           
        </div>
    </div>

</div>