<div class="container">
    <div class="block-header">
        <h2>Nuevo correo</h2>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Correos <small>Envio de correos</small></h2>
            
            <button 
	            tooltip="Necesitas ayuda este video puede ayudarte"
	            ng-controller="helpCtrl" 
	            ng-click="open('lg', 'js/hefesoft/help/email.html')" 
	            class="btn bgm-lightgreen btn-icon waves-effect waves-circle">
	            <i class="zmdi zmdi-pin-help zmdi-hc-fw"></i>
        	</button>
        	</br>
            
        </div>

        <div class="card-body card-padding">
           
           <div class="form-group">
                <div class="fg-line">
                    <input type="text" ng-model="recipient" class="form-control input-sm" placeholder="Destinatario">
                </div>
            </div>
           
            <div class="form-group">
                <div class="fg-line">
                    <input type="text" ng-model="subject" class="form-control input-sm" placeholder="Asunto">
                </div>
            </div>
           
            <p class="c-black f-500 m-t-20 m-b-20">Mensaje</p>

            <div class="form-group">
                <div class="fg-line">
                    <textarea class="form-control auto-size" ng-model="body" data-auto-size placeholder="Contenido del correo"></textarea>
                </div>
            </div>
            
            <div class="form-group">
                <div class="fg-line">
                    <div class="pull-right">
                        <button ng-click="enviar()" class="btn bgm-orange btn-icon waves-effect"><i class="zmdi zmdi-check zmdi-hc-fw"></i></button>
                    </div>
                </div>
            </div>
           
        </div>
    </div>

</div>