<div>

<div class="p-l-5 p-b-5">
 	<button 
        tooltip="Necesitas ayuda este video puede ayudarte"
        ng-controller="helpCtrl" 
        ng-click="open('lg', 'js/hefesoft/help/planTratamiento.html')" 
        class="btn bgm-lightgreen btn-icon waves-effect waves-circle">
        <i class="zmdi zmdi-pin-help zmdi-hc-fw"></i>
	</button>
	</br>
 </div>

<div class="row">
	<div class="col-sm-1">
	</div>
	
	<div class="col-sm-10">
		<div class="pull-right p-r-25">
			<div class="btn-group btn-group-xs" role="group">
				<button ng-click="odontograma()" class="btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-apps"></i>Odontograma</button>
				<button ng-click="generarCotizacion()" class="btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-apps"></i>Generar cotizacion</button>
			    <button ng-click="guardarCommand()" class="btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-check"></i>Guardar</button>
			</div>
		</div>
	</div>
	
	<div class="col-sm-1">
	</div>
</div>

</br>

<div class="row">
	
	<div class="col-sm-1">
	</div>
	
	<div class="col-sm-10">
		<listado-procedimientos
		zoom="'0.8'"
	    ocultar-add-procedimiento="'true'"
	    modo-pagos="'true'"
	    editable="'true'"
	    procedimiento-realizado-callback="procedimientoRealizado(item)"
	    contexto="contextoProcedimientos"
	    ng-model="Listado">
	 </listado-procedimientos>
	</div>
	
	<div class="col-sm-1">
	</div>
 
</div>

</div>