<form name="formAdicionarTratamiento">
<div class="card">
        <div class="card-header">
            <h2>Adicionar o modificar<small></small></h2>
        </div>
        
        <div class="card-body card-padding">
             <p class="c-black f-500">Crear o modificar un tratamiento</p> 

            <div class="form-group">
                <div class="fg-line">
                    <input type="text" 
                    class="form-control"
                    placeholder="Nombre"
                    name="nombre"
                    ng-model="Tratamiento.nombre" required>
                </div>
            </div>

            <div class="form-group">
                <div class="fg-line">
                    <button
                    ng-disabled="formAdicionarTratamiento.nombre.$invalid"
                    ng-click="adicionar()" 
                    class="btn btn-info btn-sm waves-effect waves-button waves-float">
                        Guardar
                    </button>    
                </div>
            </div>


            </div>
        </div>
</div>
</form>

    