<form name="formAdicionarTratamiento">
<div class="card">
        <div class="card-header">
            <h2>{{ 'TREATMENT' | translate }}<small></small></h2>
        </div>
        
        <div class="card-body card-padding">
             <p class="c-black f-500">{{ 'CREATE_OR_MODIFY_THREATMENT' | translate }}</p> 

            <div class="form-group">
                <div class="fg-line">
                    <input type="text" 
                    class="form-control"
                    placeholder="{{ 'NAME' | translate }}"
                    name="nombre"
                    ng-model="Tratamiento.nombre" required>
                </div>
            </div>

            <div class="form-group">
                <div class="fg-line">
                    <button
                    ng-disabled="formAdicionarTratamiento.nombre.$invalid"
                    ng-click="adicionar()" 
                    class="btn btn-info btn-sm waves-effect waves-button waves-float">
                        {{ 'SAVE' | translate }}
                    </button>    
                </div>
            </div>


            </div>
        </div>
</div>
</form>

    