
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Diagnosticos <small>Diagnosticos disponibles</small></h2>
        </div>

        <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-sm-1">Nombre</th>
                            <th class="col-sm-1" 
                            ng-show="verSuperficie">
                                Superficie
                            </th>
                            <th ng-hide="modoLectura">Orden</th>
                            <th ng-hide="modoLectura">Estado</th>
                            <th class="col-sm-1">Tipo</th>
                            <th class="col-sm-1">Simbolo diagnostico</th>
                            <th class="col-sm-1">Simbolo evolucion</th>
                            <th class="col-sm-1">Desc Cie</th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr ng-repeat="item in source">
                            <td class="col-sm-1">{{item.nombre}}</td>
                            <td class="col-sm-1" ng-show="verSuperficie">
                                {{item.superficie}}
                            </td>
                            <td ng-hide="modoLectura">orden</td>
                            <td ng-hide="modoLectura"
                                class="checkbox">                                 
                                <input 
                                type="checkbox" 
                                ng-checked="item.activo"/>
                                <i class="input-helper"></i>                                                                
                            </td>
                            <td class="col-sm-1">
                                {{item.objectHefesoftTipo.nombre}}
                            </td>
                            <td class="col-sm-1">                                
                              <div style="width:20px;">
                                  <superficie
                                    ng-model='item.objectHefesoftDiagnostico'
                                    class="wizarSimboloPrev"
                                    simbolo="item.objectHefesoftDiagnostico.simbolo"
                                    fuente="item.objectHefesoftDiagnostico.fuente"
                                    path-imagen="item.objectHefesoftDiagnostico.pathImagen"
                                    color="item.objectHefesoftDiagnostico.color">
                                  </superficie>
                              </div>
                            </td>
                            <td class="col-sm-1">
                            <div style="width:20px;">
                                <superficie
                                    ng-model='item.objectHefesoftEvolucion'
                                    class="wizarSimboloPrev"
                                    simbolo="item.objectHefesoftEvolucion.simbolo"
                                    fuente="item.objectHefesoftEvolucion.fuente"
                                    path-imagen="item.objectHefesoftEvolucion.pathImagen"
                                    color="item.objectHefesoftEvolucion.color">
                                  </superficie>
                              </div>
                            </td>
                            <td class="col-sm-1">{{item.idiceCie}}</td>

                            <td class="col-sm-1">
                                <button 
                                    ng-click="openTratamiento(item)" 
                                    class="btn btn-info btn-sm waves-effect waves-button waves-float">
                                    Tratamientos
                                </button>
                            </td>
                            
                            <td ng-hide="modoLectura">
                                <button 
                                    ng-click="open(item)" 
                                    class="btn btn-info btn-sm waves-effect waves-button waves-float">
                                    Editar
                                </button>    
                            </td>

                            <td ng-hide="ocultarEliminar">
                                <button 
                                    ng-click="eliminar(item, $index)" 
                                    class="btn btn-info btn-sm waves-effect waves-button waves-float">
                                    Eliminar
                                </button>    
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card-body card-padding"> 
        <button
            ng-hide="modoLectura" 
            ng-click="new()" 
            class="btn btn-info btn-sm waves-effect waves-button waves-float">
            Nuevo
        </button>    
    </div>

</div>

