<div class="card">
    
    <div class="card-header">
        <h2>{{ 'DIAGNOSTICS' | translate }} <small>{{ 'MATCHES' | translate }}</small></h2>
        
        <div class="row">
            <div class="pull-right p-r-25">
                <button ng-click="new()" ng-click="new()"  class="btn btn-info btn-icon waves-effect waves-circle"><i class="zmdi zmdi-plus"></i></button>
            </div>
       </div>
    </div>
    
    <div class="card-body table-responsive">
        
       
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-sm-1">{{ 'NAME' | translate }}</th>
                        <th class="col-sm-1">{{ 'VALUE' | translate }}</th>
                        <th class="col-sm-1" 
                        ng-show="verSuperficie">
                            {{ 'SURFACE' | translate }}
                        </th>
                        <th ng-hide="modoLectura">{{ 'ORDER' | translate }}</th>
                        <th ng-hide="modoLectura">{{ 'STATE' | translate }}</th>
                        <th class="col-sm-1">{{ 'ORDER' | translate }}</th>
                        <th class="col-sm-1">{{ 'SYMBOL' | translate }} {{ 'DIAGNOSTICS' | translate }}</th>
                        <th class="col-sm-1">{{ 'SYMBOL' | translate }} {{ 'EVOLUTION' | translate }}</th>
                        <th class="col-sm-1">{{ 'DESCRIPTION' | translate }} Cie</th>
                    </tr>
                </thead>
                <tbody>
                   <tr ng-repeat="item in source">
                        <td class="col-sm-1">{{item.nombre}}</td>
                        <th class="col-sm-1">{{item.valor}}</th>
                        <td class="col-sm-1" ng-show="verSuperficie">
                            {{item.superficie}}
                        </td>
                        <td ng-hide="modoLectura">{{ 'ORDER' | translate }}</td>
                        <td ng-hide="modoLectura"
                            class="checkbox">                                 
                            <input 
                            type="checkbox" 
                            ng-checked="item.activo"/>
                            <i class="input-helper"></i>                                                                
                        </td>
                        <td class="col-sm-1">
                            {{item.tipo.nombre}}
                        </td>
                        <td class="col-sm-1">                                
                          <div style="width:20px;">
                              <superficie
                                ng-model='item.diagnostico'
                                class="wizarSimboloPrev"
                                simbolo="item.diagnostico.simbolo"
                                fuente="item.diagnostico.objectHefesoftFuente.fuente"
                                fuente-color="item.diagnostico.objectHefesoftFuente.fuenteColor"
                                path-imagen="item.diagnostico.pathImagen"
                                color="item.diagnostico.color">
                              </superficie>
                          </div>
                        </td>
                        <td class="col-sm-1">
                        <div style="width:20px;">
                            <superficie
                                ng-model='item.evolucion'
                                class="wizarSimboloPrev"
                                simbolo="item.evolucion.simbolo"
                                fuente="item.evolucion.objectHefesoftFuente.fuente"
                                fuente-color="item.evolucion.objectHefesoftFuente.fuenteColor"
                                path-imagen="item.evolucion.pathImagen"
                                color="item.evolucion.color">
                              </superficie>
                          </div>
                        </td>
                        <td class="col-sm-1">
                            <p tooltip="{{item.idiceCie}}" read-more ng-model="item.idiceCie" words="false" length="10"></p>
                        </td>

                        <td class="col-sm-1">
                            <button 
                                ng-click="openTratamiento(item)" 
                                class="btn btn-info btn-sm waves-effect waves-button waves-float">
                                {{ 'TREATMENT' | translate }}
                            </button>
                        </td>
                        
                        <td ng-hide="modoLectura">
                            <button 
                                ng-click="open(item)" 
                                class="btn btn-info btn-sm waves-effect waves-button waves-float">
                                {{ 'EDIT' | translate }}
                            </button>    
                        </td>

                        <td ng-hide="ocultarEliminar">
                            <button 
                                ng-click="eliminar(source, item, $index)" 
                                class="btn btn-info btn-sm waves-effect waves-button waves-float">
                                {{ 'DELETE' | translate }}
                            </button>    
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>