<table class="table">
    
   <thead>
        <tr ng-show="tituloTabla">
            <th class="col-sm-1">Nombre</th>
            <th class="col-sm-1" 
            ng-show="verSuperficie">
                Superficie
            </th>
            <th ng-hide="modoLectura">Orden</th>
            <th class="col-sm-1">Tratado</th>
            <th class="col-sm-1">Tipo</th>
            <th class="col-sm-1">Simbolo diagnostico</th>
            <th class="col-sm-1">Simbolo evolucion</th>
            <th class="col-sm-1">Desc Cie</th>
        </tr>
    </thead>
    
    <tbody>
       <tr ng-repeat="item in source">
            <td class="col-sm-1">{{item.nombre}}</td>
            <td class="col-sm-1" ng-show="verSuperficie">
                {{sourceLabel}}
            </td>
            <td ng-hide="modoLectura">orden</td>
            <td
                class="checkbox">                                 
                <input 
                  type="checkbox" 
                  ng-model="item.tratado"
                  ng-false-value="'diagnostico'" ng-true-value="'evolucion'"
                />
                <i class="input-helper"></i>                                                                
            </td>
            <td class="col-sm-1">
                {{item.tipo.nombre}}
            </td>
            <td class="col-sm-1">                                
              <div style="width:20px;">
                  <superficie
                    ng-model='item.diagnostico'
                    class="wizarSimboloPrev"
                    simbolo="item.diagnostico.simbolo"
                    fuente="item.diagnostico.objectHefesoftFuente.fuente"
                    path-imagen="item.diagnostico.pathImagen"
                    color="item.diagnostico.color">
                  </superficie>
              </div>
            </td>
            <td class="col-sm-1">
            <div style="width:20px;">
                <superficie
                    ng-model='item.evolucion'
                    class="wizarSimboloPrev"
                    simbolo="item.evolucion.simbolo"
                    fuente="item.evolucion.objectHefesoftFuente.fuente"
                    path-imagen="item.evolucion.pathImagen"
                    color="item.evolucion.color">
                  </superficie>
              </div>
            </td>
            <td class="col-sm-1">{{item.idiceCie}}</td>

            <td class="col-sm-1">
                <button 
                    ng-click="openTratamiento(item)" 
                    class="btn btn-info btn-sm waves-effect waves-button waves-float">
                    Tratamientos
                </button>
            </td>
            
            <td ng-hide="modoLectura">
                <button 
                    ng-click="open(item)" 
                    class="btn btn-info btn-sm waves-effect waves-button waves-float">
                    Editar
                </button>    
            </td>

            <td ng-hide="ocultarEliminar">
                <button 
                    ng-click="eliminar(source, item, $index)" 
                    class="btn btn-info btn-sm waves-effect waves-button waves-float">
                    Eliminar
                </button>    
            </td>
        </tr>
        
       <tr ng-repeat="item in source1">
            <td class="col-sm-1">{{item.nombre}}</td>
            <td class="col-sm-1" ng-show="verSuperficie">
                {{source1Label}}
            </td>
            <td ng-hide="modoLectura">orden</td>
            <td
                class="checkbox">                                 
                <input 
                type="checkbox" 
                ng-model="item.tratado"
                ng-false-value="'diagnostico'" ng-true-value="'evolucion'"
                />
                <i class="input-helper"></i>                                                                
            </td>
            <td class="col-sm-1">
                {{item.tipo.nombre}}
            </td>
            <td class="col-sm-1">                                
              <div style="width:20px;">
                  <superficie
                    ng-model='item.diagnostico'
                    class="wizarSimboloPrev"
                    simbolo="item.diagnostico.simbolo"
                    fuente="item.diagnostico.objectHefesoftFuente.fuente"
                    path-imagen="item.diagnostico.pathImagen"
                    color="item.diagnostico.color">
                  </superficie>
              </div>
            </td>
            <td class="col-sm-1">
            <div style="width:20px;">
                <superficie
                    ng-model='item.evolucion'
                    class="wizarSimboloPrev"
                    simbolo="item.evolucion.simbolo"
                    fuente="item.evolucion.objectHefesoftFuente.fuente"
                    path-imagen="item.evolucion.pathImagen"
                    color="item.evolucion.color">
                  </superficie>
              </div>
            </td>
            <td class="col-sm-1">{{item.idiceCie}}</td>

            <td class="col-sm-1">
                <button 
                    ng-click="openTratamiento(item)" 
                    class="btn btn-info btn-sm waves-effect waves-button waves-float">
                    Tratamientos
                </button>
            </td>
            
            <td ng-hide="modoLectura">
                <button 
                    ng-click="open(item)" 
                    class="btn btn-info btn-sm waves-effect waves-button waves-float">
                    Editar
                </button>    
            </td>

            <td ng-hide="ocultarEliminar">
                <button 
                    ng-click="eliminar(source1, item, $index)" 
                    class="btn btn-info btn-sm waves-effect waves-button waves-float">
                    Eliminar
                </button>    
            </td>
        </tr>
        
       <tr ng-repeat="item in source2">
            <td class="col-sm-1">{{item.nombre}}</td>
            <td class="col-sm-1" ng-show="verSuperficie">
                {{source2Label}}
            </td>
            <td ng-hide="modoLectura">orden</td>
            <td
                class="checkbox">                                 
                <input 
                type="checkbox" 
                ng-model="item.tratado"
                ng-false-value="'diagnostico'" ng-true-value="'evolucion'"
                />
                <i class="input-helper"></i>                                                                
            </td>
            <td class="col-sm-1">
                {{item.tipo.nombre}}
            </td>
            <td class="col-sm-1">                                
              <div style="width:20px;">
                  <superficie
                    ng-model='item.diagnostico'
                    class="wizarSimboloPrev"
                    simbolo="item.diagnostico.simbolo"
                    fuente="item.diagnostico.objectHefesoftFuente.fuente"
                    path-imagen="item.diagnostico.pathImagen"
                    color="item.diagnostico.color">
                  </superficie>
              </div>
            </td>
            <td class="col-sm-1">
            <div style="width:20px;">
                <superficie
                    ng-model='item.evolucion'
                    class="wizarSimboloPrev"
                    simbolo="item.evolucion.simbolo"
                    fuente="item.evolucion.objectHefesoftFuente.fuente"
                    path-imagen="item.evolucion.pathImagen"
                    color="item.evolucion.color">
                  </superficie>
              </div>
            </td>
            <td class="col-sm-1">{{item.idiceCie}}</td>

            <td class="col-sm-1">
                <button 
                    ng-click="openTratamiento(item)" 
                    class="btn btn-info btn-sm waves-effect waves-button waves-float">
                    Tratamientos
                </button>
            </td>
            
            <td ng-hide="modoLectura">
                <button 
                    ng-click="open(item)" 
                    class="btn btn-info btn-sm waves-effect waves-button waves-float">
                    Editar
                </button>    
            </td>

            <td ng-hide="ocultarEliminar">
                <button 
                    ng-click="eliminar(source2, item, $index)" 
                    class="btn btn-info btn-sm waves-effect waves-button waves-float">
                    Eliminar
                </button>    
            </td>
        </tr>
        
       <tr ng-repeat="item in source3">
            <td class="col-sm-1">{{item.nombre}}</td>
            <td class="col-sm-1" ng-show="verSuperficie">
                {{source3Label}}
            </td>
            <td ng-hide="modoLectura">orden</td>
            <td
                class="checkbox">                                 
                <input 
                type="checkbox" 
                ng-model="item.tratado"
                ng-false-value="'diagnostico'" ng-true-value="'evolucion'"
                />
                <i class="input-helper"></i>                                                                
            </td>
            <td class="col-sm-1">
                {{item.tipo.nombre}}
            </td>
            <td class="col-sm-1">                                
              <div style="width:20px;">
                  <superficie
                    ng-model='item.diagnostico'
                    class="wizarSimboloPrev"
                    simbolo="item.diagnostico.simbolo"
                    fuente="item.diagnostico.objectHefesoftFuente.fuente"
                    path-imagen="item.diagnostico.pathImagen"
                    color="item.diagnostico.color">
                  </superficie>
              </div>
            </td>
            <td class="col-sm-1">
            <div style="width:20px;">
                <superficie
                    ng-model='item.evolucion'
                    class="wizarSimboloPrev"
                    simbolo="item.evolucion.simbolo"
                    fuente="item.evolucion.objectHefesoftFuente.fuente"
                    path-imagen="item.evolucion.pathImagen"
                    color="item.evolucion.color">
                  </superficie>
              </div>
            </td>
            <td class="col-sm-1">{{item.idiceCie}}</td>

            <td class="col-sm-1">
                <button 
                    ng-click="openTratamiento(item)" 
                    class="btn btn-info btn-sm waves-effect waves-button waves-float">
                    Tratamientos
                </button>
            </td>
            
            <td ng-hide="modoLectura">
                <button 
                    ng-click="open(item)" 
                    class="btn btn-info btn-sm waves-effect waves-button waves-float">
                    Editar
                </button>    
            </td>

            <td ng-hide="ocultarEliminar">
                <button 
                    ng-click="eliminar(source3, item, $index)" 
                    class="btn btn-info btn-sm waves-effect waves-button waves-float">
                    Eliminar
                </button>    
            </td>
        </tr>
        
       <tr ng-repeat="item in source4">
            <td class="col-sm-1">{{item.nombre}}</td>
            <td class="col-sm-1" ng-show="verSuperficie">
                {{source4Label}}
            </td>
            <td ng-hide="modoLectura">orden</td>
            <td
                class="checkbox">                                 
                <input 
                type="checkbox" 
                ng-model="item.tratado"
                ng-false-value="'diagnostico'" ng-true-value="'evolucion'"
                />
                <i class="input-helper"></i>                                                                
            </td>
            <td class="col-sm-1">
                {{item.tipo.nombre}}
            </td>
            <td class="col-sm-1">                                
              <div style="width:20px;">
                  <superficie
                    ng-model='item.diagnostico'
                    class="wizarSimboloPrev"
                    simbolo="item.diagnostico.simbolo"
                    fuente="item.diagnostico.objectHefesoftFuente.fuente"
                    path-imagen="item.diagnostico.pathImagen"
                    color="item.diagnostico.color">
                  </superficie>
              </div>
            </td>
            <td class="col-sm-1">
            <div style="width:20px;">
                <superficie
                    ng-model='item.evolucion'
                    class="wizarSimboloPrev"
                    simbolo="item.evolucion.simbolo"
                    fuente="item.evolucion.objectHefesoftFuente.fuente"
                    path-imagen="item.evolucion.pathImagen"
                    color="item.evolucion.color">
                  </superficie>
              </div>
            </td>
            <td class="col-sm-1">{{item.idiceCie}}</td>

            <td class="col-sm-1">
                <button 
                    ng-click="openTratamiento(item)" 
                    class="btn btn-info btn-sm waves-effect waves-button waves-float">
                    Tratamientos
                </button>
            </td>
            
            <td ng-hide="modoLectura">
                <button 
                    ng-click="open(item)" 
                    class="btn btn-info btn-sm waves-effect waves-button waves-float">
                    Editar
                </button>    
            </td>

            <td ng-hide="ocultarEliminar">
                <button 
                    ng-click="eliminar(source4, item, $index)" 
                    class="btn btn-info btn-sm waves-effect waves-button waves-float">
                    Eliminar
                </button>    
            </td>
        </tr>
        
    </tbody>
</table>