<div class="card">
    <div class="card-header">
        <h2>{{ 'NEW_DIAGNOSTICO' | translate }}</h2>
    </div>

    <div class="card-body card-padding">

        <form name="addDiagnosticoSimple">

            <div class="row">

                <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-text-format"></i></span>
                    <div class="fg-line">
                        <input name="nombre" type="text" ng-model="diagnostico.nombre" class="form-control" placeholder="{{ 'NAME' | translate }}" required>
                    </div>
                </div>

            </div>

            <div class="row">

                <form class="row ng-pristine ng-valid" role="form">

                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-money-box"></i></span>
                            <div class="fg-line">
                                <input name="valor" type="text" ng-model="diagnostico.valor" class="form-control" placeholder="{{ 'VALUE' | translate }}" required>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <b><mark>{{diagnostico.valor | currency}}</mark></b>
                    </div>
                </form>

            </div>

            </br>

            <p class="c-black f-500 m-b-5 m-t-20">{{ 'TYPE_OF_DIAGNOSTICO' | translate }}</p>
            <small>{{ 'TYPE_OF_VISUALITATION' | translate }}</small>

            </br>

            <div class="row">

                <div class="col-sm-6">

                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-brush "></i></span>
                        <div class="fg-line">
                            <select name="seleccionadoDiagnostico" class="form-control" ng-model="tipoSeleccionadoDiagnostico" ng-change="cambioVisualizacion(tipoSeleccionadoDiagnostico, 'VisualizarTipoDiagnostico')" required>
                                <option value="Texto">{{ 'VISUALIZACION_TYPE.TEXT' | translate }}</option>
                                <option value="Color">{{ 'VISUALIZACION_TYPE.COLOR' | translate }}</option>
                                <option value="Imagen">{{ 'VISUALIZACION_TYPE.IMAGE' | translate }}</option>
                            </select>
                        </div>
                    </div>

                    <br>
                    <b>{{ 'SYMBOL_OF_EVOLUTION' | translate }}</b>
                    <br>
                    <tipo-visualizacion-diagnostico id="tipoDiagnostico1" item="VisualizarTipoDiagnostico" callback="seleccionadoDiagnostico(item)"></tipo-visualizacion-diagnostico>
                </div>

                <div class="col-sm-6">

                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-brush "></i></span>
                        <div class="fg-line">
                            <select name="seleccionadoEvolucion" class="form-control" ng-model="tipoSeleccionadoEvolucion" ng-change="cambioVisualizacion(tipoSeleccionadoEvolucion, 'VisualizarTipoEvolucion')" required>
                                <option value="Texto">{{ 'VISUALIZACION_TYPE.TEXT' | translate }}</option>
                                <option value="Color">{{ 'VISUALIZACION_TYPE.COLOR' | translate }}</option>
                                <option value="Imagen">{{ 'VISUALIZACION_TYPE.IMAGE' | translate }}</option>
                            </select>
                        </div>
                    </div>

                    <br>
                    <b>{{ 'SYMBOL_FOR_WHEN_DONE' | translate }}</b>
                    <br>

                    <tipo-visualizacion-diagnostico id="tipoEvolucion2" item="VisualizarTipoEvolucion" callback="seleccionadoEvolucion(item)"></tipo-visualizacion-diagnostico>
                </div>
            </div>

            </br>
            </br>



            <div class="pull-right">
                <button ng-disabled="addDiagnosticoSimple.nombre.$invalid || addDiagnosticoSimple.valor.$invalid || addDiagnosticoSimple.seleccionadoDiagnostico.$invalid || addDiagnosticoSimple.seleccionadoEvolucion.$invalid" class="btn bgm-orange btn-icon waves-effect waves-circle"
                ng-click="save()"><i class="zmdi zmdi-check"></i></button>
            </div>

        </form>

    </div>
</div>