<div class="card">
    <div class="card-header">
        <h2>Nuevo diagnostico</h2>
    </div>

    <div class="card-body card-padding">

        <div class="row">

            <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-text-format"></i></span>
                <div class="fg-line">
                    <input type="text" ng-model="diagnostico.nombre" class="form-control" placeholder="Nombre">
                </div>
            </div>

        </div>

        <div class="row">
            
             <form class="row ng-pristine ng-valid" role="form">
                
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-money-box"></i></span>
                        <div class="fg-line">
                            <input type="text" ng-model="diagnostico.valor" class="form-control" placeholder="Valor">
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <b><mark>{{diagnostico.valor | currency}}</mark></b>
                </div>
            </form>
            
        </div>

        </br>

        <p class="c-black f-500 m-b-5 m-t-20">Tipo de visualizacion</p>
        <small>Seleccione el tipo de visualizacion para el diagnostico</small>

        </br>

        <div class="row">
            
            <div class="col-sm-6">
                
                <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-brush "></i></span>
                    <div class="fg-line">
                        <select class="form-control" ng-model="tipoSeleccionadoDiagnostico" ng-change="cambioVisualizacion(tipoSeleccionadoDiagnostico, 'VisualizarTipoDiagnostico')">
                            <option value="Texto">Texto</option>
                            <option value="Color">Color</option>
                            <option value="Imagen">Imagen</option>
                        </select>
                    </div>
                </div>
                
                <br>
                <b>Simbolo para el diagnostico</b>
                <br>
                <tipo-visualizacion-diagnostico item="VisualizarTipoDiagnostico" callback="seleccionadoDiagnostico(item)"></tipo-visualizacion-diagnostico>
            </div>
            
            <div class="col-sm-6">
                
                <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-brush "></i></span>
                    <div class="fg-line">
                        <select class="form-control" ng-model="tipoSeleccionadoEvolucion" ng-change="cambioVisualizacion(tipoSeleccionadoEvolucion, 'VisualizarTipoEvolucion')">
                            <option value="Texto">Texto</option>
                            <option value="Color">Color</option>
                            <option value="Imagen">Imagen</option>
                        </select>
                    </div>
                </div>
                
                <br>
                <b>Simbolo para cuando este realizado</b>
                <br>
                
                <tipo-visualizacion-diagnostico item="VisualizarTipoEvolucion" callback="seleccionadoEvolucion(item)"></tipo-visualizacion-diagnostico>
            </div>
        </div>
        
        </br>
        </br>

        <div class="pull-right">
            <button class="btn bgm-orange btn-icon waves-effect waves-circle" ng-click="save()"><i class="zmdi zmdi-check"></i></button>
        </div>


    </div>
</div>