<br/>
<div data-step='8' data-intro='Permite intercambiar entre odontograma de adulto y de niño' class="toggle-switch" data-ts-color="green">
    <label 
        for="ts2" 
        class="ts-label">
        {{piezasDentales.Permanente | textoDientePermanenteTemporal}}
    </label>
    <input 
        id="ts2" 
        type="checkbox" 
        ng-model="piezasDentales.Permanente" hidden="hidden">
    <label 
        for="ts2" 
        class="ts-helper">
    </label>
</div>

</br>
</br>
</br>
</br>

<!-- se usa para el snapshot este div -->
<div id="odontograma">
    <div id="odontogramaPiezas">
    <piezas-dentales
            data-step='5' data-intro='Da click en cada pieza dental y se mostrara un menu, da click en cada superficie con un diagnostico seleccionado y se pintara ese diagnostico'
            click-callback="clickPiezaDental(item)"
            odontograma-base-cargado-callback="odontogramaCargado(item)"
            numero-pieza-modificada="numeroPiezaModificada"
        	permanente="piezasDentales.Permanente"
            modificado="modificado(item)"
        	ng-model="piezasDentales"
            contexto="piezasDentalesScope"
            >
    </piezas-dentales>
    </div>
</div>