<li class="dropdown">
<a data-toggle="dropdown" class="tm-notification" href=""><i class="tmn-counts">{{numeroNotificaciones}}</i></a>
<div class="dropdown-menu dropdown-menu-lg pull-right">
    <div class="listview" id="notifications">
    <div class="lv-header">
        Notificaciones

        <ul class="actions">
            <li class="dropdown">
                <a href="" data-clear="notification">
                    <i class="md md-done-all"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="lv-body c-overflow">
        
        <a class="lv-item" href="" ng-repeat="item in listado">
            <div class="media">
                <div class="pull-left">
                    <img class="lv-img-sm" src="{{item.paciente.picture.data.url}}" alt="">
                </div>
                <div class="media-body">
                    <div class="lv-title">{{item.paciente.name}}</div>
                    <small class="lv-small">{{item.paciente.email}}</small>
                </div>
            </div>
        </a>
      
    
    </div>

    <a class="lv-footer" href="">Ver todos</a>
</div>
</div>
 </li>


